
<%= title "Login", :h2 %>

<div class="container">
  <div class="span-7 border" id="login"> 
	<% unless flash[:notice].nil? && flash[:error].nil? %>
		<div class="notice" id="notice_text">
		    <%= flash[:notice] %>
			<%= flash[:error] %>
		</div>
	<% end %>
	<% form_tag session_path do %>
		<fieldset>
			<legend>Your Details!</legend>
			<ol>
				<li>
					<%= label_tag 'login', 'Username' %>
					<%= text_field_tag 'login', @login %>
				</li>
				<li>
					<%= label_tag 'password' %>
					<%= password_field_tag 'password', nil %>
				</li>
				<li>
					<%= label_tag 'remember_me', 'Remember me' %>
					<%= check_box_tag 'remember_me', '1', @remember_me %>
				</li>
			</ol>
		</fieldset>
		<fieldset>
			<legend>Login with OpenID</legend>
			<ol>
				<li>
					<%= label_tag 'openid_url', 'OpenID URL' %>
					<%= text_field_tag 'openid_url' %>
				</li>
			</ol>
		</fieldset>
		<div class="buttons">
			<%= submit_tag 'Login' %>
			<%= link_to 'Did you forget your password?', forgot_password_path %>
		</div>
	<% end -%>	
  </div>
  <div class="span-6 border" id="forgot_password"> 
	<fieldset>
		<legend> Sign Up! </legend>
		Signing up is free and easy....<p>
		<%= link_to 'Sign up for our service', signup_path %>
	</fieldset>
  </div>
  <div class="span-7 append-4 border last"> 
	<fieldset>
		<legend>
			About this Application
		</legend>
		This application allows any retail facing business to collect the cell phone numbers of their customers 
		and to send them coupons over text messages.  This application is free and open source, and can be 
		downloaded from <%= link_to "git hub", "https://github.com/howethomas/Mobile-Mail-List" %>.  The application
		runs on Voxeo's tropo platform, and uses Clickatell to deliver the coupons over SMS.
	</fieldset>
	
  </div>
</div>



