<h1>Listing coupons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Http link</th>
    <th>Unique</th>
    <th>Site</th>
  </tr>

<% for coupon in @coupons %>
  <tr>
    <td><%=h coupon.name %></td>
    <td><%=h coupon.qty %></td>
    <td><%=h coupon.http_link %></td>
    <td><%=h coupon.unique %></td>
    <td><%=h coupon.site_id %></td>
    <td><%= link_to 'Show', coupon %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', coupon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coupon', new_coupon_path %>
