<h1>Coupons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
	<th>Code</th>
	<th>Subscriber</th>
  </tr>

<% for coupon in @coupons %>
  <tr>
    <td><%=h coupon.name %></td>
    <td><%=h coupon.qty %></td>
    <td><%=h coupon.coupon_code %></td>
    <td><%= link_to coupon.subscriber_id.to_s, {:controller => :subscribers, :action => "show", :id => coupon.subscriber_id} %></td>
    <td><%= link_to 'Show', coupon %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Redeem', {:controller => :coupons, :action => :redeem, :coupon_code => coupon.coupon_code} %></td>	
    <td><%= link_to 'Destroy', coupon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @coupons %> <%= button_to 'New coupon', new_coupon_path %>


