<h1>Subscribers</h1>


<table>
  <tr>
    <th>CallerID</th>
    <th>Created At</th>
  </tr>

<% for subscriber in @subscribers %>
  <tr>
    <td><%=h subscriber.callerid %></td>
    <td><%=h subscriber.created_at %></td>
    <td><%= link_to 'Show', subscriber %></td>
    <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
    <td><%= link_to 'Destroy', subscriber, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @subscribers %> <%= button_to 'New subscriber', new_subscriber_path %>


